<div class="container" *ngIf="identity">
    <div *ngIf="artist" class="artist-box">
        <div class="artist-head">
            <img src="{{url}}artists/get-image/{{artist.image}}" *ngIf="artist.image != 'null'">
        </div>
        <div class="artist-data">
            <h1>{{artist.name}}</h1>
            <p>{{artist.description}}</p>
        </div>
        <div class="clearfix"></div>
        <a [routerLink]="['/crear-album',artist._id]" *ngIf="identity.role == 'ROLE_ADMIN' ||(identity.artistId && identity.artistId == artist._id)" class="btn btn-primary"> Añadir album</a>
        <div class="gallery-albums row" *ngIf="albums">
            <p *ngIf="artistMessage">{{artistMessage}}</p>
            <div *ngFor="let album of albums" class="col-lg-3 card album-card bg-dark text-light" style="width: 18rem;">
                <img src="{{url}}albums/get-image/{{album.image}}" class="card-img-top" *ngIf="album.image != 'null'">
                <div class="card-img-top" *ngIf="album.image == 'null'"></div>
                <div class="card-body">
                    <h5 class="card-title">{{album.title}}</h5>
                    <p class="card-text">{{album.description}}</p>
                    <a [routerLink]="['/album',album._id]" class="btn btn-primary">Ver Album</a><br><br>
                    <div class="artist_buttons" *ngIf="identity.role == 'ROLE_ADMIN'||(identity.artistId && identity.artistId == artist._id)">
                        <a class="btn btn-warning btn-sm text-light" [routerLink]="['/editar-album',album._id]">Editar</a>
                        <a class="btn btn-danger btn-sm" (click)="onDeleteConfirm(album._id)">Eliminar</a>
                    </div>
                </div>

                <div class="seguro" *ngIf="confirmado == album._id">
                    <a class="btn btn-danger btn-sm" (click)="onDeleteAlbum(album._id)">Confirmar</a>
                    <a class="btn btn-success btn-sm" (click)="onDeleteCancel()">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>