<div class="container" *ngIf="identity">
    <h1>{{titulo}}</h1>
    <div *ngIf="artistMessage">
        <div class="alert alert-info" role="alert">
            {{artistMessage}}
        </div>
    </div>
    <form #formArtist="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="inputName">Nombre</label>
            <input type="text" class="form-control" id="inputName" required #name="ngModel" name="name" [(ngModel)]="artist.name">
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <span>El nombre es obligatorio</span>
            </div>

        </div>
        <div class="form-group">
            <label for="inputDescripcion">Descripcion</label>
            <textarea type="text" class="form-control" id="inputDescripcion" required #description="ngModel" name="description" [(ngModel)]="artist.description">
            </textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)">
                <span>La descripcion es obligatoria</span>
            </div>
        </div>

        <div *ngIf="is_edit">
            <div class="form-group">
                <label for="inputImagen">Imagen del artista</label>
                <div class="image_for_edit" *ngIf="artist.image && artist.image != 'null'">
                    <img src="{{url}}artists/get-image/{{artist.image}}" style="width: 250px;">
                </div><br>
                <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)" />
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="formArtist.form.invalid">{{titulo}}</button>
    </form>
</div>


<div class="container" *ngIf="(!identity || identity.artistId != 'null') && identity.role != 'ROLE_ADMIN'">
    <h1>Error</h1>
    <p>No tienes los permisos necesarios</p>
</div>