<div class="row container-fluid">
    <div class="col-lg-1" *ngIf="identity" id="sidebar">
        <h1 class="tituloApp">
            <a routerLink="/">
                <i class="fas fa-music"></i> {{title}}
            </a>
        </h1>
        <nav id="navigation" class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/songs/1" [routerLinkActive]="['actived']"><i class="fas fa-search"></i> Buscar</a>
            <a class="nav-link" routerLink="/artistas/1" [routerLinkActive]="['actived']"><i class="fas fa-star"></i> Artistas</a>
            <a class="nav-link" routerLink="/albums/1" [routerLinkActive]="['actived']"><i class="fas fa-book"></i> Albums</a>
            <a class="nav-link" href="#" [routerLinkActive]="['actived']"><i class="fas fa-list-ul"></i>Listas</a>
        </nav>
        <nav id="user_logged" class="nav flex-column nav-pills">
            <div class="identity_image">
                <img id="user_image" src="{{url}}users/get-image/{{identity.image}}">
            </div>
            <span class="" id="identity_name">{{identity.name}}</span><br>
            <a (click)="logout()" class="nav-link"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion</a>
            <a routerLink="/mis-datos" [routerLinkActive]="['actived']" class="nav-link"><i class="fas fa-cog"></i> Mis datos</a>
        </nav>
    </div>
    <div class="central col-lg-11" [hidden]="!identity">
        <router-outlet></router-outlet>
        <div class="clearfix"></div>
        <player id="player" class="fixed-bottom col-lg-11 offset-lg-1"></player>
    </div>
</div>
<div class="row col-lg-12 " *ngIf="!identity">
    <div class="col-lg-6 ">
        <h1>Identificación</h1>
        <div *ngIf="errorMessage">
            <div class="alert alert-info" role="alert">
                <strong>Error </strong>{{errorMessage}}
            </div>
        </div>
        <form class="col-md-7" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="loginInputEmail">Email</label>
                <input type="email" class="form-control" id="loginInputEmail" required #email="ngModel" name="email" [(ngModel)]="user.email">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <span>El email es obligatorio</span>
                </div>

            </div>
            <div class="form-group">
                <label for="loginInputPassword">Contraseña</label>
                <input type="password" class="form-control" id="loginInputPassword" required #password="ngModel" name="password" [(ngModel)]="user.password">
            </div>

            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
    <div class="col-lg-6 ">
        <h1>Registro</h1>
        <div *ngIf="registerMessage">
            <div class="alert alert-info" role="alert">
                <strong>{{registerMessage}}</strong>
            </div>
        </div>
        <form class="col-md-7" #registerForm="ngForm" (ngSubmit)="onRegister()" autocomplete="off">
            <div class="form-group">
                <label for="registerInputNombre">Nombre</label>
                <input type="text" class="form-control" id="registerInputNombre" required #name="ngModel" name="name" [(ngModel)]="userReg.name">
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <span>El nombre es obligatorio</span>
                </div>
            </div>
            <div class="form-group">
                <label for="registerInputApellidos">Apellidos</label>
                <input type="Apellidos" class="form-control" id="registerInputApellidos" required #surname="ngModel" name="surname" [(ngModel)]="userReg.surname">
                <div *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                    <span>Los apellidos son obligatorios</span>
                </div>
            </div>
            <div class="form-group">
                <label for="registerInputEmail">Email</label>
                <input type="email" class="form-control" id="registerInputEmail" required #email_reg="ngModel" name="email_reg" [(ngModel)]="userReg.email">
                <div *ngIf="email_reg.invalid && (email_reg.dirty || email_reg.touched)">
                    <span>El email es obligatorio</span>
                </div>
            </div>
            <div class="form-group">
                <label for="registerInputPassword">Contraseña</label>
                <input type="password" class="form-control" id="registerInputPassword" required #password="ngModel" name="password" [(ngModel)]="userReg.password">
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <span>La contraseña es obligatoria</span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>